# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
.env*
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
#*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
#*.so
#*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
CMakeUserPresets.json
# debug information files
*.dwo
.venv/
build/
vendor/
docs/
target/
node_modules/
*_templ.go
*.pdf
# Build artifacts
/build/
*.VC.db
*.suo
*.user
*.pro.user
*.creator.user

# VSCode user settings
.vscode/launch.json
.vscode/tasks.json

# CMake user presets
CMakeUserPresets.json

# CPack packaging artifacts
_CPack_Packages/
*.cpack.cmake
CPackConfig.cmake
CPackSourceConfig.cmake

# vcpkg
vcpkg_installed/
flutter_boilerplate/